# InfluxDB Configuration
INFLUXDB_URL=
INFLUXDB_TOKEN=
INFLUXDB_ORG=
INFLUXDB_BUCKET=

# Weather API Configuration
VISUAL_CROSSING_API_KEY=
VISUAL_CROSSING_UNITS=
VISUAL_CROSSING_BASE_URL=

# Default Location
LOCATION_LAT=
LOCATION_LON=
LOCATION_CITY=

# Model Configuration
MODEL_PATH=models

# Redis Configuration (Optional - defaults to redis://localhost:6379/0)
# REDIS_URL=